<div class="container mt-5">

  <h1 class="display-4" >¡Hola <%= current_user.first_name %>!</h1>
  <div class="profile d-flex justify-content-between">
    <div class='flex-fill'>
      <strong>Nombres y apellidos</strong>
      <p><%= "#{@user.first_name} #{@user.last_name}" %></p>
      <strong>Correo electrónico</strong>
      <p><%= @user.email %></p>
    </div>
    <div class='flex-fill'>
      <strong>Mis locales creados</strong>
      <ul>
        <% @places.each do |place| %>
          <% if place.user_id == current_user.id %>
            <li><%= link_to place.name, place_path(place) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

    <p><%= link_to 'Edita tu perfil', edit_user_registration_path, class:"btn btn-warning mt-2 raidius" %></p>
    <p><%= link_to 'Agrega otro local para arrendar', new_place_path, class:"btn btn-success raidius" %></p>
</div>
