<div class='container mt-5'>
  <h1 class='text-center'>Find your ideal place</h1>

  <div class='cards mt-5'>
    <% @places.each do |place| %>
      <div class="card-product">
        <%= cl_image_tag place.photos.first.key, width: 120, crop: :fill %>
        <div class="card-product-infos">
          <h2><%= place.name %></h2>
          <p><%= place.description %></p>
          <p><%= place.address %></p>
          <div class="d-flex justify-content-end">
          <%= link_to 'See details', place_path(place), class: "btn btn-info" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
