<div class="container">
<h1 class="titlemylocals">Mis Locales</h1>
<%= link_to "Agregar", new_place_path, class:"btn btn-verde" %>
    <table class="table">
      <thead class="thead-dark">
          <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Costo/Día/S</th>
          <th scope="col">Aforo</th>
          <th scope="col"></th>
          <th scope="col">Acciones</th>
          <th scope="col"></th>
          </tr>
      </thead>
    <% @places.each do |place| %>
  <tbody>
  <% if place.user_id == current_user.id %>
    <tr>
      <th scope="row"><%= place.id %></th>
      <td><%= place.name %></td>
      <td><%= place.address %></td>
      <td><%= place.price_per_day %></td>
      <td><%= place.capacity %></td>
      <td><%= link_to '<i class="fas fa-user-edit"></i>'.html_safe, edit_place_path(place), class:"btn btn-naranja" %></td>
      <td><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, place_path(place), class:"btn btn-rojo", method: :delete %></td>
      
    </tr>
    <% end %>
    <% end %>
   </tbody> 
</table>

<%= link_to "Volver al menú principal", root_path, class:"btn btn-verde" %>
</div>

