<div class='container my-5'>
  <div class="row">
    <% @place.photos.each_with_index do |photo, index| %>
      <div class="col-7">
        <%= cl_image_tag photo.key, class: 'd-block', :width=>600, :height=>600, :crop=>:fit  %>
      </div>
    <% end %>
    <div class="col-5">
        <div class="card h-100">
          <div class="card-body">
            <h1 class="card-title"><%= @place.name %></h1>
            <p class="card-text"><strong>Ciudad: </strong><%= @place.address %></p>
            <p class="card-text"><strong>Descripcion: </strong><%= @place.description %></p>
            <p class="card-text"><strong>Precio por dia:</strong> $<%= @place.price_per_day %></p>
            <p class="card-text"><strong>Capacidad: </strong><%= @place.capacity %></p>
            <% if @place.user_id == current_user.id %>
              <%= link_to 'Editar', edit_place_path(@place), class: "btn btn-success" %>
              <%= link_to 'Eliminar', place_path(@place), class: "btn btn-primary", method: :delete %>
            <% else %>
              <%= link_to 'Arrendar', new_place_booking_path(@place), class: "btn btn-primary" %>
            <% end %>
          </div>
    </div>
  </div>
</div>
