<div class='container my-5'>
  <div class="d-flex">
    <% @place.photos.each_with_index do |photo, index| %>
      <div class="pb-5">
        <%= cl_image_tag photo.key, class: 'd-block w-100', crop: :fill %>
      </div>
    <% end %>
    <div class="pb-5">
        <div class="card h-100">
          <div class="card-body">
            <h1 class="card-title"><%= @place.name %></h1>
            <p class="card-text"><strong>Ciudad: </strong><%= @place.address %></p>
            <p class="card-text"><strong>Descripcion: </strong><%= @place.description %></p>
            <p class="card-text"><strong>Precio por dia:</strong> $<%= @place.price_per_day %></p>
            <p class="card-text"><strong>Capacidad: </strong><%= @place.capacity %></p>
            <%= link_to 'Editar', edit_place_path(@place), class: "btn btn-info" %>
            <%= link_to 'Eliminar', place_path(@place), class: "btn btn-info", method: :delete %>
          </div>
    </div>
  </div>
</div>
