<div class='container my-5'>
  <div class="row">
    <% @place.photos.each_with_index do |photo, index| %>
      <div class="col-7">
        <%= cl_image_tag photo.key, class: 'd-block w-100', crop: :fill, aspect_ratio: "2:3" %>
      </div>
    <% end %>
    <div class="col-5">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h1 class="card-title"><%= @place.name %></h1>
            <p class="card-text"><strong>Address: </strong><%= @place.address %></p>
            <p class="card-text"><strong>Description: </strong><%= @place.description %></p>
            <p class="card-text"><strong>Price per day: </strong><%= @place.price_per_day %></p>
            <p class="card-text"><strong>Capacity: </strong><%= @place.capacity %></p>
            <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-success' %>
            <%= link_to 'Delete', place_path(@place), class: 'btn btn-danger', method: :delete %>
          </div>
    </div>
  </div>
</div>
